{% extends 'base.html' %}

{% block head %} 
  <title>Dashboard  Page</title>
{% endblock %}

{% block body %} 
    <div style="margin-left: 200px;" class="bar-container1">
        <h1 style="color: navy;"> Users Dashboard</h1>
        <h3 style="color: blue;text-align: center;">Users Information</h3>
    </div>
    {% for user in users %}
        <div style="margin-left: 200px;" class="general-container">
            <div class="container-body">
                <div style="margin-left: 120px;" class="post-container">
                    <div class="dashflex">
                        <div>
                            <h1 style="font-weight:bold;color: gray;font-size: 25px;text-align: left;padding-top: 10px;">USER ID: <span style="color: green;">{{user.id}}</span></h1>
                            <h1 style="font-weight:bold;color: gray;font-size: 25px;text-align: left;padding-top: 10px;">USERNAME: <span style="color: green;">{{user.username}}</span></h1>
                            <h1 style="font-weight:bold;color: gray;font-size: 25px;text-align: left;padding-top: 10px;">LASTNAME: <span style="color: green;">{{user.lastname}}</span></h1>
                            <h1 style="font-weight:bold;color: gray;font-size: 25px;text-align: left;padding-top: 10px;">FIRSTNAME: <span style="color: green;">{{user.firstname}}</span></h1>
                            <h1 style="font-weight:bold;color: gray;font-size: 25px;text-align: left;padding-top: 10px;">EMAIL: <span style="color: green;">{{user.email}}</span></h1>
                            <h1 style="font-weight:bold;color: gray;font-size: 25px;text-align: left;padding-top: 10px;">Member Since: <span style="color: green;">{{user.created_at.strftime('%d-%m-%y')}}</span></h1>
                            
                        </div>
                        {% for  image in images%}
                            {% if image.user_id == user.id%}
                                <div>
                                    <img class="pp" style="margin-right:50px ;" src="static/userimages/{{image.name}}" alt={{image.name}}>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div> 
            </div>
        </div>
    {% endfor %}

    <div style="margin-left: 80px;width: 90%;" class="table">
        <h1 style="color: navy;"> Users List</h1>
        <table>
            <thead style="width: 1200px;" class="head">
                <tr style="width: 1200px;">
                    <th>ID</th>
                    <th style="margin-left: 50px ;">Username</th>
                    <th style="margin-left: 20px ;">Lastname</th>
                    <th style="margin-left: 50px ;">Firstname</th>
                    <th style="margin-left: 90px ;">Email</th>
                    <th>Member Since</th>
                </tr>
            </thead>
            <tbody class="body">
                <tr class="group">
                    {% for user in users %}
                        <td>{{user.id}}</td>
                        <td style="margin-left: -60px ;">{{user.username}}</td>
                        <td style="margin-left: 0px ;">{{user.lastname}}</td>
                        <td style="margin-left: 60px ;">{{user.firstname}}</td>
                        <td >{{user.email}}</td>
                        <td >{{user.created_at.strftime('%d-%m-%y')}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>    
    </div>  
     
{% endblock %}